offline/wsdl/imcplatService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://imc.h3c.com/imcplatService" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://imc.h3c.com/imcplatService" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://ws.common.imc.h3c.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://imc.h3c.com/imcplatService" xmlns:ax22="http://ws.common.imc.h3c.com/xsd">
            <xs:import namespace="http://ws.common.imc.h3c.com/xsd"/>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="param1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.common.imc.h3c.com/xsd">
            <xs:complexType name="WSCommonResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="logoutRequest">
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="ns:logoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="parameters" element="ns:loginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="imcplatServicePortType">
    <wsdl:operation name="logout">
      <wsdl:input message="ns:logoutRequest" wsaw:Action="urn:logout">
    </wsdl:input>
      <wsdl:output message="ns:logoutResponse" wsaw:Action="urn:logoutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login">
    </wsdl:input>
      <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="imcplatServiceSoap12Binding" type="ns:imcplatServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="urn:logout" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="imcplatServiceHttpBinding" type="ns:imcplatServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="logout">
      <http:operation location="imcplatService/logout"/>
      <wsdl:input>
        <mime:content part="logout" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="logout" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="imcplatService/login"/>
      <wsdl:input>
        <mime:content part="login" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="login" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="imcplatServiceSoap11Binding" type="ns:imcplatServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logout">
      <soap:operation soapAction="urn:logout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="imcplatService">
    <wsdl:port name="imcplatServiceHttpSoap11Endpoint" binding="ns:imcplatServiceSoap11Binding">
      <soap:address location="http://wwwgongyu.oicp.net:88/imcws/services/imcplatService/"/>
    </wsdl:port>
    <wsdl:port name="imcplatServiceHttpSoap12Endpoint" binding="ns:imcplatServiceSoap12Binding">
      <soap12:address location="http://wwwgongyu.oicp.net:88/imcws/services/imcplatService/"/>
    </wsdl:port>
    <wsdl:port name="imcplatServiceHttpEndpoint" binding="ns:imcplatServiceHttpBinding">
      <http:address location="http://wwwgongyu.oicp.net:88/imcws/services/imcplatService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
