offline/wsdl/imcplatUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://imc.h3c.com/imcplatUserService" xmlns:ns="http://imc.h3c.com/imcplatUserService" xmlns:ax28="http://ws.common.imc.h3c.com/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax24="http://entity.plat.imc.h3c.com/xsd" xmlns:ax21="http://entity.usr.imc.h3c.com/xsd" xmlns:ax22="http://util.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Set">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LinkedList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="first" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="last" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.usr.imc.h3c.com/xsd" xmlns:ax212="http://ws.common.imc.h3c.com/xsd" xmlns:ax23="http://util.java/xsd" xmlns:ax26="http://entity.plat.imc.h3c.com/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://entity.plat.imc.h3c.com/xsd"/>
            <xs:import namespace="http://ws.common.imc.h3c.com/xsd"/>
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn10" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn11" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn12" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn13" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn14" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn15" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn16" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn17" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn18" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn19" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn20" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn3" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn4" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn5" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn6" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn7" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn8" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoColumn9" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="appendInfoId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="authType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="certification" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cfgParams" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="extendInfo" nillable="true" type="ax22:Map"/>
                    <xs:element minOccurs="0" name="extendShowFlags" nillable="true" type="ax22:Map"/>
                    <xs:element minOccurs="0" name="groupDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="optResult" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="permissions" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultStr" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="selected" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="ssGroups" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="ssName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ssPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ssType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="status" type="xs:int"/>
                    <xs:element minOccurs="0" name="strUserCreateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="urlPara" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userAppend" nillable="true" type="ax21:UserAppendInfo"/>
                    <xs:element minOccurs="0" name="userCancelTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="userCreateTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="userGroup" nillable="true" type="ax24:UserGroup"/>
                    <xs:element minOccurs="0" name="userModifyTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserAppendInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="column_01" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_02" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_03" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_04" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_05" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_06" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_07" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_08" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_09" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_10" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_11" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_12" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_13" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_14" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_15" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_16" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_17" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_18" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_19" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="column_20" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="ax21:User"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSUser">
                <xs:complexContent>
                    <xs:extension base="ax28:WSCommonResult">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="user" nillable="true" type="ax21:User"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="WSUserAppendArray">
                <xs:complexContent>
                    <xs:extension base="ax28:WSCommonResult">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="userAppendArray" nillable="true" type="ax21:UserAppendDefine"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="UserAppendDefine">
                <xs:sequence>
                    <xs:element minOccurs="0" name="canModify" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="columnId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldLen" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="fieldMax" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldMin" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fieldType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="options" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="priority" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="showForPreRegisterUser" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userAppendOptionsArray" nillable="true" type="ax21:UserAppendOptions"/>
                    <xs:element minOccurs="0" name="valueStr" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserAppendOptions">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appendDef" nillable="true" type="ax21:UserAppendDefine"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="optionsValue" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSUserArray">
                <xs:complexContent>
                    <xs:extension base="ax28:WSCommonResult">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="userArray" nillable="true" type="ax21:User"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="WSUserGroup">
                <xs:complexContent>
                    <xs:extension base="ax28:WSCommonResult">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="userGroup" nillable="true" type="ax24:UserGroup"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.plat.imc.h3c.com/xsd" xmlns:ax211="http://ws.common.imc.h3c.com/xsd" xmlns:ax25="http://util.java/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://ws.common.imc.h3c.com/xsd"/>
            <xs:complexType name="UserGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="detailPageUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="disabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="elementNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="extendInfo" nillable="true" type="ax22:Map"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="operatorArray" nillable="true" type="ax24:Operator"/>
                    <xs:element minOccurs="0" name="operators" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="parentName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="selected" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Operator">
                <xs:sequence>
                    <xs:element minOccurs="0" name="account" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authType" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="authTypeStr" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currOperatorGroup" nillable="true" type="ax24:OperatorGroup"/>
                    <xs:element minOccurs="0" name="customViews" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="defaultAcl" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="defaultManagedDefinedView" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="defaultManagedGroup" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="devGroups" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="failCount" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="favourites" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="individualInfo" nillable="true" type="ax22:Map"/>
                    <xs:element minOccurs="0" name="lastLoginTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="lastPasswordChangeTime" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="managedAllDefinedViews" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="managedAllGroups" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operatorAcls" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="operatorGroup" nillable="true" type="ax24:OperatorGroup"/>
                    <xs:element minOccurs="0" name="operatorGroupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="processList" nillable="true" type="ax22:LinkedList"/>
                    <xs:element minOccurs="0" name="realIndividualInfo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="realRoleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="role" nillable="true" type="ax24:Role"/>
                    <xs:element minOccurs="0" name="roleDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="selected" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="sessionTimeout" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="sessionTimeoutStr" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="shortcutModuleId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="urlPara" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userGroups" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OperatorGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="disabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="groupDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="operatorOperates" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="privileges" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="role" nillable="true" type="ax24:Role"/>
                    <xs:element minOccurs="0" name="roleDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="roleId" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="selected" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Role">
                <xs:sequence>
                    <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="roleOperates" nillable="true" type="ax22:Set"/>
                    <xs:element minOccurs="0" name="roleResources" nillable="true" type="ax22:Set"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSUserGroupArray">
                <xs:complexContent>
                    <xs:extension base="ax211:WSCommonResult">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="userGroupArray" nillable="true" type="ax24:UserGroup"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://imc.h3c.com/imcplatUserService" xmlns:ax210="http://entity.plat.imc.h3c.com/xsd" xmlns:ax27="http://entity.usr.imc.h3c.com/xsd" xmlns:ax29="http://ws.common.imc.h3c.com/xsd">
            <xs:import namespace="http://entity.usr.imc.h3c.com/xsd"/>
            <xs:import namespace="http://ws.common.imc.h3c.com/xsd"/>
            <xs:import namespace="http://entity.plat.imc.h3c.com/xsd"/>
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserForPreReg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserForPreRegResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax24:UserGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelUserForPreReg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cancelUserForPreRegResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeUserGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:long"/>
                        <xs:element minOccurs="0" name="param1" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeUserGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserForPreReg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserForPreRegResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax24:UserGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="modifyUserGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax28:WSCommonResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAllUserGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:WSUserGroupArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByIdForPreReg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByIdForPreRegResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByNameAndIdentity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="param1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByNameAndIdentityResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByNameAndIdentityForPreReg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="param1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserByNameAndIdentityForPreRegResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAllUserAppendResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUserAppendArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAllUserAppendsForPreRegisterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUserAppendArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAllUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="param0" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryAllUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUserArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserGroupById">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="queryUserGroupByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21:WSUserGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.common.imc.h3c.com/xsd">
            <xs:complexType name="WSCommonResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="queryAllUserAppendRequest">
  </wsdl:message>
  <wsdl:message name="deleteUserGroupRequest">
    <wsdl:part name="parameters" element="ns:deleteUserGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelUserRequest">
    <wsdl:part name="parameters" element="ns:cancelUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserForPreRegRequest">
    <wsdl:part name="parameters" element="ns:modifyUserForPreReg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part name="parameters" element="ns:addUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByIdForPreRegResponse">
    <wsdl:part name="parameters" element="ns:queryUserByIdForPreRegResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserForPreRegResponse">
    <wsdl:part name="parameters" element="ns:addUserForPreRegResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByNameAndIdentityForPreRegResponse">
    <wsdl:part name="parameters" element="ns:queryUserByNameAndIdentityForPreRegResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelUserForPreRegRequest">
    <wsdl:part name="parameters" element="ns:cancelUserForPreReg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByNameAndIdentityRequest">
    <wsdl:part name="parameters" element="ns:queryUserByNameAndIdentity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserRequest">
    <wsdl:part name="parameters" element="ns:modifyUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeUserGroupResponse">
    <wsdl:part name="parameters" element="ns:changeUserGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="parameters" element="ns:addUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserResponse">
    <wsdl:part name="parameters" element="ns:modifyUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserGroupRequest">
    <wsdl:part name="parameters" element="ns:modifyUserGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserGroupByIdResponse">
    <wsdl:part name="parameters" element="ns:queryUserGroupByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserGroupRequest">
  </wsdl:message>
  <wsdl:message name="deleteUserGroupResponse">
    <wsdl:part name="parameters" element="ns:deleteUserGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserGroupResponse">
    <wsdl:part name="parameters" element="ns:queryAllUserGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserResponse">
    <wsdl:part name="parameters" element="ns:queryAllUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByNameAndIdentityResponse">
    <wsdl:part name="parameters" element="ns:queryUserByNameAndIdentityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserGroupRequest">
    <wsdl:part name="parameters" element="ns:addUserGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserForPreRegResponse">
    <wsdl:part name="parameters" element="ns:modifyUserForPreRegResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserForPreRegRequest">
    <wsdl:part name="parameters" element="ns:addUserForPreReg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserRequest">
    <wsdl:part name="parameters" element="ns:queryAllUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserAppendResponse">
    <wsdl:part name="parameters" element="ns:queryAllUserAppendResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByIdResponse">
    <wsdl:part name="parameters" element="ns:queryUserByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByIdRequest">
    <wsdl:part name="parameters" element="ns:queryUserById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByNameAndIdentityForPreRegRequest">
    <wsdl:part name="parameters" element="ns:queryUserByNameAndIdentityForPreReg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserGroupResponse">
    <wsdl:part name="parameters" element="ns:addUserGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelUserResponse">
    <wsdl:part name="parameters" element="ns:cancelUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUserByIdForPreRegRequest">
    <wsdl:part name="parameters" element="ns:queryUserByIdForPreReg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelUserForPreRegResponse">
    <wsdl:part name="parameters" element="ns:cancelUserForPreRegResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserAppendsForPreRegisterRequest">
  </wsdl:message>
  <wsdl:message name="queryUserGroupByIdRequest">
    <wsdl:part name="parameters" element="ns:queryUserGroupById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeUserGroupRequest">
    <wsdl:part name="parameters" element="ns:changeUserGroup">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryAllUserAppendsForPreRegisterResponse">
    <wsdl:part name="parameters" element="ns:queryAllUserAppendsForPreRegisterResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyUserGroupResponse">
    <wsdl:part name="parameters" element="ns:modifyUserGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="imcplatUserServicePortType">
    <wsdl:operation name="queryAllUserAppendsForPreRegister">
      <wsdl:input message="ns:queryAllUserAppendsForPreRegisterRequest" wsaw:Action="urn:queryAllUserAppendsForPreRegister">
    </wsdl:input>
      <wsdl:output message="ns:queryAllUserAppendsForPreRegisterResponse" wsaw:Action="urn:queryAllUserAppendsForPreRegisterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByIdForPreReg">
      <wsdl:input message="ns:queryUserByIdForPreRegRequest" wsaw:Action="urn:queryUserByIdForPreReg">
    </wsdl:input>
      <wsdl:output message="ns:queryUserByIdForPreRegResponse" wsaw:Action="urn:queryUserByIdForPreRegResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserForPreReg">
      <wsdl:input message="ns:addUserForPreRegRequest" wsaw:Action="urn:addUserForPreReg">
    </wsdl:input>
      <wsdl:output message="ns:addUserForPreRegResponse" wsaw:Action="urn:addUserForPreRegResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserForPreReg">
      <wsdl:input message="ns:modifyUserForPreRegRequest" wsaw:Action="urn:modifyUserForPreReg">
    </wsdl:input>
      <wsdl:output message="ns:modifyUserForPreRegResponse" wsaw:Action="urn:modifyUserForPreRegResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppend">
      <wsdl:input message="ns:queryAllUserAppendRequest" wsaw:Action="urn:queryAllUserAppend">
    </wsdl:input>
      <wsdl:output message="ns:queryAllUserAppendResponse" wsaw:Action="urn:queryAllUserAppendResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <wsdl:input message="ns:modifyUserRequest" wsaw:Action="urn:modifyUser">
    </wsdl:input>
      <wsdl:output message="ns:modifyUserResponse" wsaw:Action="urn:modifyUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserGroup">
      <wsdl:input message="ns:changeUserGroupRequest" wsaw:Action="urn:changeUserGroup">
    </wsdl:input>
      <wsdl:output message="ns:changeUserGroupResponse" wsaw:Action="urn:changeUserGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserById">
      <wsdl:input message="ns:queryUserByIdRequest" wsaw:Action="urn:queryUserById">
    </wsdl:input>
      <wsdl:output message="ns:queryUserByIdResponse" wsaw:Action="urn:queryUserByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUser">
      <wsdl:input message="ns:cancelUserRequest" wsaw:Action="urn:cancelUser">
    </wsdl:input>
      <wsdl:output message="ns:cancelUserResponse" wsaw:Action="urn:cancelUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserGroup">
      <wsdl:input message="ns:queryAllUserGroupRequest" wsaw:Action="urn:queryAllUserGroup">
    </wsdl:input>
      <wsdl:output message="ns:queryAllUserGroupResponse" wsaw:Action="urn:queryAllUserGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserGroup">
      <wsdl:input message="ns:modifyUserGroupRequest" wsaw:Action="urn:modifyUserGroup">
    </wsdl:input>
      <wsdl:output message="ns:modifyUserGroupResponse" wsaw:Action="urn:modifyUserGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentity">
      <wsdl:input message="ns:queryUserByNameAndIdentityRequest" wsaw:Action="urn:queryUserByNameAndIdentity">
    </wsdl:input>
      <wsdl:output message="ns:queryUserByNameAndIdentityResponse" wsaw:Action="urn:queryUserByNameAndIdentityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserGroup">
      <wsdl:input message="ns:addUserGroupRequest" wsaw:Action="urn:addUserGroup">
    </wsdl:input>
      <wsdl:output message="ns:addUserGroupResponse" wsaw:Action="urn:addUserGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUser">
      <wsdl:input message="ns:queryAllUserRequest" wsaw:Action="urn:queryAllUser">
    </wsdl:input>
      <wsdl:output message="ns:queryAllUserResponse" wsaw:Action="urn:queryAllUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentityForPreReg">
      <wsdl:input message="ns:queryUserByNameAndIdentityForPreRegRequest" wsaw:Action="urn:queryUserByNameAndIdentityForPreReg">
    </wsdl:input>
      <wsdl:output message="ns:queryUserByNameAndIdentityForPreRegResponse" wsaw:Action="urn:queryUserByNameAndIdentityForPreRegResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserGroup">
      <wsdl:input message="ns:deleteUserGroupRequest" wsaw:Action="urn:deleteUserGroup">
    </wsdl:input>
      <wsdl:output message="ns:deleteUserGroupResponse" wsaw:Action="urn:deleteUserGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserGroupById">
      <wsdl:input message="ns:queryUserGroupByIdRequest" wsaw:Action="urn:queryUserGroupById">
    </wsdl:input>
      <wsdl:output message="ns:queryUserGroupByIdResponse" wsaw:Action="urn:queryUserGroupByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="ns:addUserRequest" wsaw:Action="urn:addUser">
    </wsdl:input>
      <wsdl:output message="ns:addUserResponse" wsaw:Action="urn:addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUserForPreReg">
      <wsdl:input message="ns:cancelUserForPreRegRequest" wsaw:Action="urn:cancelUserForPreReg">
    </wsdl:input>
      <wsdl:output message="ns:cancelUserForPreRegResponse" wsaw:Action="urn:cancelUserForPreRegResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="imcplatUserServiceHttpBinding" type="ns:imcplatUserServicePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="queryUserByIdForPreReg">
      <http:operation location="imcplatUserService/queryUserByIdForPreReg"/>
      <wsdl:input>
        <mime:content part="queryUserByIdForPreReg" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryUserByIdForPreReg" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppendsForPreRegister">
      <http:operation location="imcplatUserService/queryAllUserAppendsForPreRegister"/>
      <wsdl:input>
        <mime:content part="queryAllUserAppendsForPreRegister" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryAllUserAppendsForPreRegister" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserForPreReg">
      <http:operation location="imcplatUserService/addUserForPreReg"/>
      <wsdl:input>
        <mime:content part="addUserForPreReg" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="addUserForPreReg" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserForPreReg">
      <http:operation location="imcplatUserService/modifyUserForPreReg"/>
      <wsdl:input>
        <mime:content part="modifyUserForPreReg" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="modifyUserForPreReg" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserGroup">
      <http:operation location="imcplatUserService/changeUserGroup"/>
      <wsdl:input>
        <mime:content part="changeUserGroup" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="changeUserGroup" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <http:operation location="imcplatUserService/modifyUser"/>
      <wsdl:input>
        <mime:content part="modifyUser" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="modifyUser" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppend">
      <http:operation location="imcplatUserService/queryAllUserAppend"/>
      <wsdl:input>
        <mime:content part="queryAllUserAppend" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryAllUserAppend" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserById">
      <http:operation location="imcplatUserService/queryUserById"/>
      <wsdl:input>
        <mime:content part="queryUserById" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryUserById" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUser">
      <http:operation location="imcplatUserService/cancelUser"/>
      <wsdl:input>
        <mime:content part="cancelUser" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="cancelUser" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserGroup">
      <http:operation location="imcplatUserService/queryAllUserGroup"/>
      <wsdl:input>
        <mime:content part="queryAllUserGroup" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryAllUserGroup" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserGroup">
      <http:operation location="imcplatUserService/modifyUserGroup"/>
      <wsdl:input>
        <mime:content part="modifyUserGroup" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="modifyUserGroup" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserGroup">
      <http:operation location="imcplatUserService/addUserGroup"/>
      <wsdl:input>
        <mime:content part="addUserGroup" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="addUserGroup" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentity">
      <http:operation location="imcplatUserService/queryUserByNameAndIdentity"/>
      <wsdl:input>
        <mime:content part="queryUserByNameAndIdentity" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryUserByNameAndIdentity" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUser">
      <http:operation location="imcplatUserService/queryAllUser"/>
      <wsdl:input>
        <mime:content part="queryAllUser" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryAllUser" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentityForPreReg">
      <http:operation location="imcplatUserService/queryUserByNameAndIdentityForPreReg"/>
      <wsdl:input>
        <mime:content part="queryUserByNameAndIdentityForPreReg" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryUserByNameAndIdentityForPreReg" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserGroup">
      <http:operation location="imcplatUserService/deleteUserGroup"/>
      <wsdl:input>
        <mime:content part="deleteUserGroup" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="deleteUserGroup" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserGroupById">
      <http:operation location="imcplatUserService/queryUserGroupById"/>
      <wsdl:input>
        <mime:content part="queryUserGroupById" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="queryUserGroupById" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <http:operation location="imcplatUserService/addUser"/>
      <wsdl:input>
        <mime:content part="addUser" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="addUser" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUserForPreReg">
      <http:operation location="imcplatUserService/cancelUserForPreReg"/>
      <wsdl:input>
        <mime:content part="cancelUserForPreReg" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="cancelUserForPreReg" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="imcplatUserServiceSoap11Binding" type="ns:imcplatUserServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryUserByIdForPreReg">
      <soap:operation soapAction="urn:queryUserByIdForPreReg" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppendsForPreRegister">
      <soap:operation soapAction="urn:queryAllUserAppendsForPreRegister" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserForPreReg">
      <soap:operation soapAction="urn:addUserForPreReg" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserForPreReg">
      <soap:operation soapAction="urn:modifyUserForPreReg" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserGroup">
      <soap:operation soapAction="urn:changeUserGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <soap:operation soapAction="urn:modifyUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppend">
      <soap:operation soapAction="urn:queryAllUserAppend" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserById">
      <soap:operation soapAction="urn:queryUserById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUser">
      <soap:operation soapAction="urn:cancelUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserGroup">
      <soap:operation soapAction="urn:queryAllUserGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserGroup">
      <soap:operation soapAction="urn:modifyUserGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserGroup">
      <soap:operation soapAction="urn:addUserGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentity">
      <soap:operation soapAction="urn:queryUserByNameAndIdentity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUser">
      <soap:operation soapAction="urn:queryAllUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentityForPreReg">
      <soap:operation soapAction="urn:queryUserByNameAndIdentityForPreReg" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserGroup">
      <soap:operation soapAction="urn:deleteUserGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserGroupById">
      <soap:operation soapAction="urn:queryUserGroupById" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="urn:addUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUserForPreReg">
      <soap:operation soapAction="urn:cancelUserForPreReg" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="imcplatUserServiceSoap12Binding" type="ns:imcplatUserServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="queryUserByIdForPreReg">
      <soap12:operation soapAction="urn:queryUserByIdForPreReg" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppendsForPreRegister">
      <soap12:operation soapAction="urn:queryAllUserAppendsForPreRegister" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserForPreReg">
      <soap12:operation soapAction="urn:addUserForPreReg" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserForPreReg">
      <soap12:operation soapAction="urn:modifyUserForPreReg" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeUserGroup">
      <soap12:operation soapAction="urn:changeUserGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUser">
      <soap12:operation soapAction="urn:modifyUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserAppend">
      <soap12:operation soapAction="urn:queryAllUserAppend" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserById">
      <soap12:operation soapAction="urn:queryUserById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUser">
      <soap12:operation soapAction="urn:cancelUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUserGroup">
      <soap12:operation soapAction="urn:queryAllUserGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUserGroup">
      <soap12:operation soapAction="urn:modifyUserGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserGroup">
      <soap12:operation soapAction="urn:addUserGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentity">
      <soap12:operation soapAction="urn:queryUserByNameAndIdentity" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryAllUser">
      <soap12:operation soapAction="urn:queryAllUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserByNameAndIdentityForPreReg">
      <soap12:operation soapAction="urn:queryUserByNameAndIdentityForPreReg" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserGroup">
      <soap12:operation soapAction="urn:deleteUserGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUserGroupById">
      <soap12:operation soapAction="urn:queryUserGroupById" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="urn:addUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelUserForPreReg">
      <soap12:operation soapAction="urn:cancelUserForPreReg" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="imcplatUserService">
    <wsdl:port name="imcplatUserServiceHttpSoap12Endpoint" binding="ns:imcplatUserServiceSoap12Binding">
      <soap12:address location="http://123.120.10.78:88/imcws/services/imcplatUserService/"/>
    </wsdl:port>
    <wsdl:port name="imcplatUserServiceHttpEndpoint" binding="ns:imcplatUserServiceHttpBinding">
      <http:address location="http://123.120.10.78:88/imcws/services/imcplatUserService/"/>
    </wsdl:port>
    <wsdl:port name="imcplatUserServiceHttpSoap11Endpoint" binding="ns:imcplatUserServiceSoap11Binding">
      <soap:address location="http://123.120.10.78:88/imcws/services/imcplatUserService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
